CLIENT_GATEWAY_PORT=3010

##NATS VARIABLE
NATS_SERVERS="nats://nats-server:4222"
NATS_PORT=4222
NATS_PORT_ADMIN_PANEL=8222


##PRODUCTS
PRODUCTSMS_PORT=3001

##ORDERS
ORDERSMS_PORT=3002


##Postgresql
DATABASE_URL=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
PGDATA="/var/lib/postgresql/data/pgdata"